<section>

  <% for(let i=0; i < searchBookData.length; i++){ %>
    <ul>
      <li>
        <img src="<%= searchBookData[i].image %>" alt="">
      </li>
      <li>
        <h2>
          <%= searchBookData[i].title %>
        </h2>
      </li>
      <li>
        <h3>
          <%= searchBookData[i].author %>
        </h3>
      </li>
      <li>
        <%= searchBookData[i].author %>
      </li>
      <li>
        <%= searchBookData[i].isbn %>
      </li>
      <p>
        <%= searchBookData[i].description %>
      </p>
      </li>

    </ul>
    <% } %>
</section>