<%- include('../../layout/head.ejs') %>

  <body>

    <ul>
      <li>
        <img src="<%= book.image %>" alt="">
      </li>
      <li>
        <h2>
          <%= book.title %>
        </h2>
      </li>
      <li>
        <h3>
          <%= book.author %>
        </h3>
      </li>
      <li>
        <%= book.isbn %>
      </li>
      <li>
        <p>
          <%= book.description %>
        </p>
      </li>
      <div id="button">Edit Details</div>

      <%- include('../../layout/edit.ejs', {book}) %>
        <%- include('../../layout/delete.ejs', {book}) %>
    </ul>

    <script src="../../../js/app.js"></script>
  </body>

  </html>