<%- include('../../layout/head.ejs') %>

  <body>
    <h1>Search Results</h1>
    <!-- <nav><a href="/book-search">book search</a></nav> -->

    <% for(let i=0; i < searchBookData.length; i++){ %>
      <ul>
        <li>
          <img src="<%= searchBookData[i].image %>" alt="">
        </li>
        <li>
          <h2>
            <%= searchBookData[i].title %>
          </h2>
        </li>
        <li>
          <h3>
            <%= searchBookData[i].author %>
          </h3>
        </li>
        <li>
          <%= searchBookData[i].isbn %>
        </li>
        <li>
          <p>
            <%= searchBookData[i].description %>
          </p>
        </li>

        <form action="/books" method="POST">
          <input type="hidden" name="title" value="<%= searchBookData[i].title %>">
          <input type="hidden" name="author" value="<%= searchBookData[i].author %>">
          <input type="hidden" name="isbn" value="<%= searchBookData[i].isbn %>">
          <input type="hidden" name="image" value="<%= searchBookData[i].image %>">
          <input type="hidden" name="description" value="<%= searchBookData[i].description %>">
          <input class="form-button" type="submit" value="Save Book">
        </form>


      </ul>
      <% } %>
  </body>

  </html>