<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Openshelf Book Search</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <h1>Search Results</h1>
  <!-- <nav><a href="/book-search">book search</a></nav> -->

  <% for(let i=0; i < searchBookData.length; i++){ %>
    <ul>
      <li>
        <img src="<%= searchBookData[i].image %>" alt="">
      </li>
      <li>
        <h2>
          <%= searchBookData[i].title %>
        </h2>
      </li>
      <li>
        <h3>
          <%= searchBookData[i].author %>
        </h3>
      </li>
      <li>
        <%= searchBookData[i].author %>
      </li>
      <form action="save-book" method="POST">
        <input type="hidden" name="title" value="<%= searchBookData[i].title %>">
        <input type="submit" value="save-book">
      </form>
      <form action="books/:id=<%=searchBookData[i].id %>" method="POST">
        <input type="submit" value="More Details">
      </form>

    </ul>
    <% } %>
</body>

</html>